<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Primera Plantilla</title>
</head>
<body>
        <h1 style="color: aqua;">Bienvenidos a mi primera página con Django</h1>
        
        {% if nombre_persona == 'Sergio Santiago'  %}

        <p> El curso lo imparte el profesor titular</p>
        {% else %}
            <p> El curso lo imparte el profesor suplente!
        {% endif %}
        
        
        
        <p style="color:red;">El nombre Completo del profesor es : {{nombre_persona|upper}} {{apellido_persona|lower}}
        <br>
        <p>La Fecha Actual es: {{fecha.day}}/{{fecha.month}}/{{fecha.year}}</p>
        <p><strong>Temas del Curso:</strong></p>
        <p>
            <ul>
                {% if temas %}
                    {% for el_tema in temas %}
                
                        <li>
                            {{el_tema}}
                        </li>
                
                    {% endfor %}
                    {% else %}
                        <p>La lísta no tiene Elementos!</p>
                {% endif %}
                
            </ul>
        </p>
    </p>
    
</body>
</html>   
